@model CookBookWebSite.Models.CookBook
@{
    ViewBag.Title = "CookBook - " + Model.title;
    ViewBag.CookBook = Model.cookbook_id;
}

<h2>@Model.title</h2>

<div class="container-fluid wrapper">
    <div class="row">
        <div class="col-md-6">
            <div class="row wrapper-recipe-list">
                <table id="recipe-table" class="table table-hover recipe-list">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Recipe</th>
                            <th>Serving Size</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var r in Model.recipes) {
                            <tr id="recipe-@r.recipe_id">
                                <td>@r.recipe_id</td>
                                <td>@r.title</td>
                                <td>@r.serving_size</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="wrapper-recipe-view">
                <div id="recipe-pane" class="recipe-view"></div>
            </div>
        </div>
    </div>
</div>


@section scriptsIncludes {
    <script src="~/Content/recipe-list.js"></script>
}
